@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Noto Sans TC', sans-serif;
    @apply bg-slate-50 text-slate-800 antialiased; /* 明亮背景 */
  }

  ::selection {
    @apply bg-blue-100 text-blue-900;
  }
}